:root{
	--mainColor:#F6F6F6;
	--secondaryColor:#515a48;

	--borderColor:#161914;

	--mainText:rgb(23, 20, 20);
	--secondaryText:#221f1f;

	--themeDotBorder:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#f1f1f0;


	--buttonColor:#669966;


}
